section{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    color: white;
    background-color: rgb(41, 41, 41);
    padding: 2%;
    border-bottom: 8px solid coral ;
    width: 85%;
    max-width: 600px;
}



form div input {
    width: 90%;
}

textarea {
    width: 90%;
}

.btnwrapper{
    text-align: center;
}

.btn {
    margin-top: 3%;
    padding: 5px;
    text-align: center;
    background-color: #ff7f50;
    color: white;
    border: none;
    font-family: 'Assistant', sans-serif;
    font-size: medium;
    font-weight: 700;
    
}

.btn:hover{
    background-color: #ffa788;
    color: rgb(0, 0, 0);
}

.form-body{
    margin-right: 5%;
}


/* mobile shit */

@media only screen and (max-width: 768px){
    
    form input {
        width: 95%;
    }


}

.info {
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 0, 0);
    background-color: yellow;
    margin-right: 15%;
    margin-left: 15%;
}