section{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    color: white;
    background-color: rgb(41, 41, 41);
    padding: 4%;
    border-bottom: 8px solid coral ;
    width: 70%;
}

form div{
    width: 95%;
}

form div input {
    width: 90%;
}

.form-body{
    margin-right: 5%;
}


/* mobile shit */

@media only screen and (max-width: 768px){
    
    form input {
        width: 90%;
    }


}